.main__container {
  padding: 1rem;
  margin: auto;
  margin-left: 3rem;
  margin-right: 3rem;
  border: 2px solid black;
  border-radius: 5px;
  overflow: auto;
  max-height: 100vh;
}

.main__container::-webkit-scrollbar {
  margin-right: .4rem;
  width: 8px;
  border-radius: 5px;
}
.main__container::-webkit-scrollbar-track {
  background: #ffffff;
}

.main__container::-webkit-scrollbar-thumb {
  background: rgba(53, 53, 53, 0.454);
}